﻿.body {
    background-color: #e4e5e6;
}

.navbar {
    height: 60px;
    background-color: #201e1e;
    border-radius: 0;
    margin: 0;
}

    .navbar div {
        font-size: 25px;
        font-weight: 500;
    }

    .navbar a {
        height: 100%;
        padding: 0;
    }

    .navbar img {
        height: 100%;
        width: auto;
    }

.sidebar {
    min-height: 90vh !important;
}

    .sidebar li:hover {
        background-color: #e4e5e6;
    }

li div {
    color: black;
    font-size: 20px;
    margin: 5px 0;
    font-weight: 500;
}

    li div:hover {
        color: red;
    }

    li div i {
        font-size: 17px;
        padding-right: 10px;
    }

.footer {
    font-size: 18px;
    height: 60px;
    background-color: #494e53;
}

a {
    text-decoration: none;
}

.card {
    font-size: 18px;
}

.card-header {
    font-size: 25px;
    font-weight: 700;
}

button {
    font-size: 18px !important;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table {
    font-size: 15px !important;
}

.main {
    font-size: 20px;
}

    .main label {
        font-size: 20px;
        padding-left: 10px;
    }

label {
    font-weight: 100 !important;
}

.form-control {
    font-size: 18px !important;
}

.form-check-input {
    height: 18px;
    width: 18px;
}

.btn {
    font-size: 15px !important;
}
