﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar  sticky-top  flex-md-nowrap p-0">
        <a class="navbar-brand col-2 mr-0 d-flex justify-content-center align-items-center" href="https://devfast.us/">
            <img src="https://devfast.us/images/devfast-logo.png" alt="devfast-logo">
        </a>
        <div class="col text-white text-center">Blogmanagement</div>
    </nav>

    <div class="container-fluid body">
        <div class="row">
            <nav class="col-2 d-block bg-white sidebar p-0">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Blogs/Index">
                                <div>
                                    <i class="uil uil-list-ul"></i>
                                    <span>List</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Blogs/Create">
                                <div>
                                    <i class="uil uil-plus-square"></i>
                                    <span>New</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Blogs/Search">
                                <div>
                                    <i class="uil uil-search"></i>
                                    <span>Search</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col">
                @RenderBody()
            </div>

        </div>
    </div>

    <div class="footer d-flex justify-content-center align-items-center text-white">
        <div>Copyright @@ <i class="fa-regular fa-copyright"></i> 2022 <a href="#">Devfast</a></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
