﻿@model MVCBlogCR7.Models.Blog
@using MVCBlogCR7.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="card bg-light mb-4 mt-3 w-100 main" style="font-size: 20px">
    <div class="card-header pl-2">New Blog</div>
    <div class="card-body">
        <div class="">
            @Html.ValidationSummary(true, "", new { @class = " text-danger" })
            <div class="form-group">
                <div class="card-text mb-3">Tiêu đề:</div>
                <div>
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control mb-4" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="card-text mb-3">Mô tả nguồn:</div>
                <div>
                    @Html.TextAreaFor(model => model.des, new { @class = "form-control mb-4", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.des, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="card-text mb-3">Chi tiết:</div>
                <div class="">
                    @Html.TextAreaFor(model => model.detail, new { @class = "form-control mb-4", @rows = "10" })
                    @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="card-text mb-3">Vị trí:</div>
                <div class="">
                    @foreach (Position p in ViewBag.positionList)
                    {
                        <input class="form-check-input" type="checkbox" name="listPosition" value="@p.positionId" id="@p.positionName">
                        <label class="form-check-label ml-4 mr-4" for="@p.positionName"> @p.positionName</label>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="card-text mb-3">Public:</div>
                <div class="">
                    <div class="checkbox">
                        <div class="form-check form-check-inline mr-3">
                            <input class="form-check-input" type="radio" name="isPublic" id="yes" value=true>
                            <label class="form-check-label pl-1" for="yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                            <input class="form-check-input" type="radio" name="isPublic" id="no" value=false>
                            <label class="form-check-label pl-1" for="no">No</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <div class="card-text mb-3">Loại:</div>
                    <div class="">
                        <select class="form-select  form-control" name="categoryId" style="height: 34px !important;">
                            <option selected>Choose...</option>
                            @foreach (Category cat in ViewBag.categoryList)
                            {
                                <option value="@cat.categoryId">@cat.categoryName </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col">
                    <div class="card-text mb-3">Date Public:</div>
                    <div class="">

                        @Html.EditorFor(model => model.datePublic, new { htmlAttributes = new { @class = "form-control rounded mb-3", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.datePublic, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Submit" class="text-white btn btn-success mr-2 pl-3 pr-3" />
                    <button type="reset" class="text-white btn btn-danger ml-2 pl-3 pr-3">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>
        
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
