﻿@model MVCBlogCR7.Models.Blog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card bg-light mb-4 mt-3 w-100 main" style="font-size: 20px">
    <div class="card-header pl-2">Delete Blog</div>
    <div class="card-body">
        <h2 class="mb-4 text-danger">Are you sure you want to delete Blog @Model.id ?</h2>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger mr-2" /> |
                    <button type="button"  class="btn btn-outline-primary ml-2" style="color: white !important">
                        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary text-white" })
                    </button>
                </div>
            }
        </div>
        

    </div>
</div>