﻿@model IEnumerable<MVCBlogCR7.Models.Blog>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-3">
    <div class="card-header pl-2">Search Blog</div>
    <div class="card-body ">
        @using (Html.BeginForm())
        {
            <div class="row mb-4">
                <label for="keySearch" class="col" style="font-weight:400 !important; font-size: 20px">Title:</label>
                @Html.TextBox("keySearch", "" ,new {@class = "w-100 col-11 mr-4 form-control" })
            </div>
            <div class="row d-flex justify-content-center">
                <input type="submit" value="Search" class="text-white btn btn-success pl-3 pr-3" />
            </div>
        }

    </div>
</div>

<div class="card bg-light mb-4 mt-3 w-100 main">
    <div class="card-header pl-2">List Blog</div>
    <div class="card-body">
        <table class="table table-bordered text-center">
            <tr class="text-center">
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Tin</th>
                <th scope="col" class="text-center">Loại</th>
                <th scope="col" class="text-center">Trạng thái</th>
                <th scope="col" class="text-center">Vị trí</th>
                <th scope="col" class="text-center">Ngày public</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row" width="5%" style="font-weight: 700;">
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td style="max-width:150px;" width="20%">
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td width="10%">
                        @ViewBag.categoryList[item.categoryId].categoryName
                    </td>
                    <td width="10%">
                        @((item.isPublic == true) ? "Yes" : "No")
                    </td>
                    <td width="25%">
                        @getPositionName(item.position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datePublic).ToString().Split(' ', ' ')[0]
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-outline-primary border-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-outline-danger border-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@functions {
    public string getPositionName(string position)
    {
        string[] pos = position.Split(',', ' ');
        string result = "";
        foreach (string temp in pos)
        {
            result += ViewBag.positionList[Int32.Parse(temp) - 1].positionName + ", ";
        }
        return result.Remove(result.Length - 2);
    }
}

